<div class="app-section spaced-section{% unless section.settings.skip_container %} container{% endunless %}">
  {%- for block in section.blocks -%}
    {% render block %}
  {%- endfor -%}
</div>

{% schema %}
{
  "name": "Apps",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "skip_container",
      "label": "Full page width",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Apps"
    }
  ]
}
{% endschema %}
