<div class="spaced-section" data-section-type="page">
  <div class="container section-content">
    <div class="rte reading-width" data-cc-animate data-cc-animate-delay="0.2s">
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page"
  }
{% endschema %}
