{%- liquid
  assign show_filters = section.settings.coll_show_filters
  assign show_sort_by = section.settings.coll_show_sort

  if collection.filters == empty
    assign show_filters = false
  endif
-%}

<div class="spaced-section" data-section-type="collection" data-components="accordion,custom-select,price-range" data-filtering="{{ show_filters }}" data-sorting="{{ show_sort_by }}">
  <div class="container section-content">
    {%- paginate collection.products by section.settings.pagination_limit -%}
      {% render 'facet-filters',
        results: collection,
        paginate: paginate,
        show_filters: show_filters,
        show_sort_by: show_sort_by
      %}

      <div class="filters-results">
        <div class="grid grid--row-gutters product-list">
          {%- liquid
            if settings.prod_card_image_ratio == 'shortest'
              assign aspect_ratio = 0
              for product in collection.products
                if product.featured_media.preview_image.aspect_ratio > aspect_ratio
                  assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
                endif
              endfor
            elsif settings.prod_card_image_ratio == 'tallest'
              assign aspect_ratio = 99
              for product in collection.products
                if product.featured_media.preview_image.aspect_ratio < aspect_ratio
                  assign aspect_ratio = product.featured_media.preview_image.aspect_ratio
                endif
              endfor
            else
              assign aspect_ratio = settings.prod_card_image_ratio
            endif
          -%}
          {%- for product in collection.products -%}
            {% render 'product-card',
              product: product,
              aspect_ratio: aspect_ratio,
              grid_show_vendor: section.settings.grid_show_vendor,
              items_per_row: section.settings.products_per_row_int
            %}
          {%- else -%}
            <p class="filters-results__none">{{ 'collections.general.no_matches' | t }}</p>
          {%- endfor -%}
        </div>

        {% render 'pagination', paginate: paginate %}
      </div>
    {%- endpaginate -%}
  </div>
</div>

{% schema %}
  {
    "name": "Collection",
    "settings": [
      {
        "type": "range",
        "id": "products_per_row_int",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "Number of products per row",
        "default": 4
      },
      {
        "type": "range",
        "id": "pagination_limit",
        "min": 8,
        "max": 50,
        "step": 2,
        "label": "Products per page",
        "default": 16
      },
      {
        "type": "checkbox",
        "id": "show_prod_totals",
        "label": "Show products total",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "grid_show_vendor",
        "label": "Show product vendor",
        "default": false
      },
      {
        "type": "header",
        "content": "Filtering"
      },
      {
        "type": "checkbox",
        "id": "coll_show_filters",
        "label": "Enable filtering",
        "info": "[Customize filters](\/admin\/menus)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_filter_prod_counts",
        "label": "Show product counts",
        "default": true
      },
      {
        "type": "select",
        "id": "filters_open",
        "label": "Filters open by default (desktop)",
        "options": [
          {
            "value": "none",
            "label": "None"
          },
          {
            "value": "some",
            "label": "First 4"
          },
          {
            "value": "all",
            "label": "All"
          }
        ],
        "default": "some"
      },
      {
        "type": "header",
        "content": "Sorting"
      },
      {
        "type": "checkbox",
        "id": "coll_show_sort",
        "label": "Enable sorting",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "coll_show_feat",
        "label": "Show 'Featured' option in sorting selector",
        "default": false
      }
    ]
  }
{% endschema %}
